@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,700&display=swap');

:root {
    --main-color: #e77d1a9d;
    --green: #bbe852d2;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(186, 228, 61, 0.3);
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    background: var(--bg);
}

section {
    padding: 2rem 7%;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: var(--green);
    background: var(--black);
    cursor: pointer;
}

.btn:hover {
    letter-spacing: .2rem;
    color: var(--main-color);
}

.header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo img {
    height: 10rem;
    width: 14rem;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #bbe852d2;
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div {
    color: #bbe852d2;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: var(--main-color);
}

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: #bbe852d2;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active {
    transform: scaleY(0.7) scaleX(0.7);
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 2.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}

.header .search-form label:hover {
    color: var(--main-color);

}

.header .cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: #75932eb0;
    padding: 0 1.5rem;
}

.header .cart-items-container.active {
    right: 0;
    ;
}


.header .cart-items-container .cart-item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item img {
    height: 7rem;
    width: 40%;
}

.header .cart-items-container .cart-item .fa-times:hover {
    color: var(--main-color);
}

.header .cart-items-container .cart-item .content h3 {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price {
    font-size: 1.5rem;
    color: var(--main-color);
}

.header .cart-items-container .btn {
    width: 100%;
    text-align: center;
}


.home {
    min-height: 80vh;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.516) url(Homeimj.jpg) no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
}


.home .content {
    position: absolute;
    top: 25%;
    max-width: 60rem;
}

.home .content h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: #94c328dc;
}

.home .content p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 2rem;
    padding: 1rem 0;
    color: #94c328dc;
}

.home img{
    position: absolute;
    top: -75%;
    left: 109%;
    width: 50rem;
    height: 70rem;
    opacity: 74%;
}

h1 {
    color: var(--main-color);
    font-size: 6rem;
    font-style: italic;
    text-align: center;
}

h1 span {
    color: var(--green);
}


.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}


.menu .box-container .box {
    padding: 5rem;
    text-align: center;
    border: var(--border);
}

.menu .box-container .box img {
    height: 14rem;
}

.menu .box-container .box h3 {
    color: #94c328dc;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price {
    color: #94c328dc;
    font-size: 2.5rem;
    padding: .5rem 0;
}

.menu .box-container .box .price span {

    font-size: 1.5rem;
    text-decoration: line-through;
}

.menu .box-container .box:hover {
    background: var(--main-color);
}

.menu .box-container .box:hover>* {
    color: var(--green);
}

.contact .row {
    display: flex;
    background: var(--green);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: var(--black);
}

.contact .row form .inputbox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--black);
    border: var(--main-color);
}

.contact .row form .inputbox span{
    color: var(--green);
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputbox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: var(--green);
    text-transform: none;
    background: none;
}







@media(max-width:991px) {


    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }

}

@media(max-width:768px) {


    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: #8fb141b6;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;

    }

    .header .search-form {
        width: 92%;
        right: 2rem;

    }

    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3 {
        font-size: 4.5rem;

    }

    .home .content p {
        font-size: 1.5rem;

    }



}

@media(max-width:450px) {


    html {
        font-size: 50%;
    }

}